<nav class="highlight">
    <ul id="responsive-menu" class="slimmenu">
     {{#foreach navigation}}
        <li class="{{#if current}}active {{else}} menu-list {{/if}}"><a href="{{url absolute='true'}}">{{label}}</a></li>
     {{/foreach}}
    </ul>
</nav>