<div class="right-sidebar">
    <div class="sidebar-widget">
        {{> 'widget_tab_posts'}}
    </div>
    <div class="sidebar-widget sidebar-social-share">
        {{> 'widget_social_profiles'}}
    </div>
    <div class="sidebar-widget tags">
        {{> 'widget_tags_cloud'}}
    </div>
    <div class="sidebar-widget clearfix">
        {{> 'widget_fb_lightbox'}}
    </div>
</div>