<div class="sidebar-widget-title">
    <h3>Follow Us</h3>
</div>
<ul>
    <li class="fb"><a href="#"><i class="fab fa-twitter"></i> Follow Us </a></li>
    <li class="twitter"><a href="#"><i class="fab fa-facebook-f"></i> Like Us</a></li>
    <li class="instagram"><a href="#"><i class="fab fa-instagram"></i> Join Us</a></li>
</ul>